<h3>Repos</h3>
<table border="1">
  <tr>
    <th>repo id</th>
    <th>name</th>
    <th>priv</th>
    <th>complete</th>
    <th>created_at</th>
    <th>packs</th>
    <th>Languages</th>
    <th>source_url</th>
  </tr>
  <% @cases.each do |c| %>
    <tr>
        <td><%= c.repo.id %></td>
        <td><%= c.repo.name %></td>
        <td><%= c.repo.priv %></td>
        <td <% if ReposController.complete_ratio(c.repo.id, @release_id).to_f >= 0.95 %>
                style="background-color: #22e816;"
            <% elsif ReposController.complete_ratio(c.repo.id, @release_id).to_f >= 0.5 %>
                style="background-color: #fff683;"
              <% else %>
                style="background-color: orangered;"
            <% end %>
        >
            <%= ReposController.complete_ratio(c.repo.id, @release_id) %>
            </td>
        <td><%= c.repo.create_at %></td>
        <td><a href="./<%= c.repo.id %>/packs/">packs</a></td>
        <td><%= Rails.cache.fetch("linguist/#{c.repo.source_url}") %></td>
        <td><a target="_blank" href="<%= c.repo.source_url %>"><%= c.repo.source_url %></a></td>
    </tr>
  <% end %>
</table>
