<h3>Repos</h3>
<button obj="one_key" data-release-id="<%= @release_id %>">一键全部解析下面repo</button>
<table border="1" id="repos">
  <tr>
    <th>repo id</th>
    <th>name</th>
    <th>priv</th>
    <th>complete</th>

    <th>packs</th>
    <th>Action</th>
    <th>Langs</th>
    <th>Yamls</th>
    <th>source_url</th>
    <th>Created_at</th>
    <th>pid</th>
    <th>cmt</th>
  </tr>
  <% @cases.each do |c| %>
    <tr>
        <td><%= c.repo.id %></td>
        <td><%= c.repo.name %></td>
        <td><%= c.repo.priv %></td>
        <% if ReposController.complete_ratio(c.repo.id, @release_id).to_f >= 0.95 %>
          <td style="background-color: #22e816;">
            <%= ReposController.complete_ratio(c.repo.id, @release_id) %>
          </td>
          <td><a target="_blank" href="./<%= c.repo.id %>/packs/">packs</a></td>
          <td><button obj="repo"
                      data-repo-id="<%= c.repo.id %>"
                      data-release-id="<%= @release_id %>"
                      style="display: none;"
          >Parse</button></td>
        <% elsif ReposController.complete_ratio(c.repo.id, @release_id).to_f >= 0.5 %>
          <td style="background-color: #fff683;">
            <%= ReposController.complete_ratio(c.repo.id, @release_id) %>
          </td>
          <td><a target="_blank" href="./<%= c.repo.id %>/packs/">packs</a></td>
          <td><button obj="repo"
                      data-repo-id="<%= c.repo.id %>"
                      data-release-id="<%= @release_id %>"
          >Parse</button></td>
        <% else %>
          <td style="background-color: orangered;">
            <%= ReposController.complete_ratio(c.repo.id, @release_id) %>
          </td>
          <td><a target="_blank" href="./<%= c.repo.id %>/packs/">packs</a></td>
          <td><button obj="repo"
                      data-repo-id="<%= c.repo.id %>"
                      data-release-id="<%= @release_id %>"
          >Parse</button></td>
        <% end %>

        <td><%=
            #Rails.cache.fetch("linguist/#{c.repo.source_url}")
            c.repo.langs %></td>
        <td><%=
              #Rails.cache.fetch("linguist/#{c.repo.source_url}")
              c.repo.ymls %></td>
        <td><a target="_blank" href="<%= c.repo.source_url %>"><%= c.repo.source_url %></a></td>
        <td><%= c.repo.create_at %></td>
      <td><%= c.repo.parent_repo_id %></td>
      <td><%= c.repo.cmt %></td>
    </tr>
  <% end %>
</table>
