<style>
  label {
    color: blue;
    font-weight: bold;
    text-align: right;
    width: 110px;
    display: block;
    float: left;
    margin-right: 15px;
  }
  p {
    clear: both;
  }
  p span {
    min-width: 200px;
    display: block;
    min-height: 30px;
  }
</style>
<div class="packlist-show">
  <input type="hidden" value="<%= @pack.id %>">

  <p>
    <label for="name">Name:</label>
    <span><%= @pack.name %></span>
    <button type="submit"
            style="font-size: 20px; margin-right: 604px; float: right;"
            onclick="location.href='http://<%= request.host %>:<%= request.port %>/packlist/<%= @pack.id %>/edit'"
    >Edit it</button>
  </p>
  <p><label for="version">Version:</label><span><%= @pack.version %></span></p>
  <p><label for="lang">Lang:</label><span><%= @pack.lang %></span></p>
  <p><label for="status">Status:</label>
    <span><%= @pack.status %></span>


  <p><label for="homepage">Homepage:</label>
    <span>
      <a target="_blank" href="<%= @pack.homepage %>"><%= @pack.homepage %></a>
    </span>
  </p>
  <p><label for="source_url">Source URL:</label>
    <span><a target="_blank" href="<%= @pack.source_url %>"><%= @pack.source_url %></a></span>
  </p>
  <p><label for="license_url">License URL:</label>
    <span><a target="_blank" href="<%= @pack.license_url %>"><%= @pack.license_url %></a></span>
  <p><label for="license">License:</label>
    <span><%= @pack.license %></span>
  <p><label for="Unclear License">Unclear License</label>
    <span><%= @pack.unclear_license %></span>
  </p>
  <p>
    <label for="license_text">License Text:</label>
    <textarea name="license_text" style="width: 60%; height: 200px;">
      <%= @pack.license_text %>
    </textarea></p>
  <p>
    <label for="cmt">Comment:</label>
    <textarea name="cmt" style="width: 40%; height: 80px;"><%= @pack.cmt %></textarea>
  </p>




</div>

