<style>
    ul {
        padding-left: 0;
        margin: 5px 0;
    }
    ul li {
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }
    tr { border-bottom: 1px solid #ff0000;
        height: 30px;
    }
    button { height: 28px; width: 90px;}
</style>

<p><a target="_blank" href="http://localhost:15672/">RabbitMQ WebAdmin UI, Username: guest; Password: guest</a>
  <a target="_blank" href="/releases/" style="margin-left: 50px;">Releases</a>
</p>

<button id="btnEnqueueAll" style="width: 120px">
  Parse all repos
</button>

<button id="btnExport" style="width: 120px">Export all as Excel</button>

<H4>All cases:</H4>

<!--TODO: 导出为zip包-->
<form id="formExportZip" action="/api/v1/repo/export_dependency.zip" method="post" target="_blank">
  <input name="caseIds" value="" type="hidden">
</form>

<form id="formExportExcel" action="/api/v1/repo/export_dependency.excel" method="post" target="_blank">
  <input name="caseId" value="" type="hidden">
</form>

<hr>
<table>
  <tr>
    <td>status_desciption</td>
    <td>FakeBtn</td>
    <td>status_value</td>
    <td>case_id</td>
    <td>Product Name</td>
    <td>Repo Name</td>
  </tr>
  <% @cases.each do |p| %>
    <tr>
      <td>
        <% if p.status == 10 %>
            <button data-repo-id="<%= p.repo_id %>">Parse</button>
        <% elsif p.status == 20 %>
            Parsing...
        <% elsif p.status == 21 %>
            License解析中
        <% elsif p.status == 30 %>
            License解析完毕,待修复
        <% elsif p.status >= 40 %>
            License解析完毕
        <% end %>
      </td>
      <td>
        <button data-force="true" data-repo-id="<%= p.repo_id %>" style="width: 150px">Enforce Parse Repo</button>
      </td>

      <!--TODO: 导出为单个Excel文件-->
      <td><button data-force="true" data-repo-id="<%= p.repo_id %>" style="width: 150px">Export Excel by Repo</button></td>
      <td><%= p.status %></td>
      <td><%= p.id %></td>
      <td><%= p.product_name %></td>
      <td><%= p.repo_name %></td>
    </tr>
  <% end %>
</table>
